.gameboard {
  width: 50em;
  margin-inline: auto;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.minefield {
  display: grid;
  width: fit-content;
  margin-inline: auto;

  &__cell {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #c0c0c0;
    box-sizing: border-box;
    border: solid #808080;
    border-width: 0 1px 1px 0;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border: 2px outset #ececec;
    }

    &:active {
      &::after {
        border: none;
      }
    }

    &_open {
      cursor: auto;

      &::after {
        border: none;
      }
    }
  }
}

.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
