@import '../styles/style.scss';

.minesweeper {
  margin-inline: auto;

  &__title {
    text-align: center;
    padding-block: 0.5em;
  }

  &__toolbar {
    max-width: 45em;
    margin-inline: auto;
  }

  &__notification {
    height: 1em;
    padding: 0.5em;
    text-align: center;
  }
}

.stats {
  &__table {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}

.#{$dark-mode} .minesweeper {
  &__title {
    color: white;
  }
}
