.minesweeper {
  width: 50em;
  margin-inline: auto;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.stats {
  &__table {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}
