.minesweeper {
  width: 50em;
  margin-inline: auto;

  &__title {
    text-align: center;
  }

  &__notification {
    height: 1em;
    padding: 0.5em;
    text-align: center;
  }
}

.stats {
  &__table {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}
