@import '../../../styles/style.scss';

.minesweeper-cell {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15%;
  background: #c0c0c0;
  box-sizing: border-box;
  border: solid #808080;
  border-width: 0 1px 1px 0;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 2px outset #ececec;
  }

  &:active {
    &::after {
      border: none;
    }
  }

  &_opened {
    cursor: auto;

    &::after {
      border: none;
    }
  }

  &_exploded {
    background: red;
  }

  &_label {
    &-1 {
      color: blue;
    }

    &-2 {
      color: green;
    }
    &-3 {
      color: red;
    }
    &-4 {
      color: darkblue;
    }
    &-5 {
      color: brown;
    }
    &-6 {
      color: cyan;
    }
    &-7 {
      color: black;
    }
    &-8 {
      color: grey;
    }
  }

  img {
    display: block;
    width: 100%;
  }
}

.#{$dark-mode} .minesweeper-cell {
  background: #5f5f5f;

  &::after {
    border: 2px outset #999999;
  }

  &_opened {
    cursor: auto;

    &::after {
      border: none;
    }
  }

  &_exploded {
    background: red;
  }
}
