.minefield {
  $cell: null;

  display: grid;
  width: fit-content;
  margin-inline: auto;
  font-size: 2rem;
  font-weight: bold;

  &__cell {
    $cell: &;

    width: 80px;
    height: 80px;

    @media (max-width: 46em) {
      width: 50px;
      height: 50px;
    }
  }

  &[data-difficulty='intermediate'] {
    #{$cell} {
      width: 42px;
      height: 42px;

      @media (max-width: 46em) {
        width: 27px;
        height: 27px;
      }
    }
  }

  &[data-difficulty='expert'] {
    #{$cell} {
      width: 40px;
      height: 40px;

      @media (max-width: 80em) {
        width: 24px;
        height: 24px;
      }

      @media (max-width: 46em) {
        width: 15px;
        height: 15px;
      }
    }
  }
}
