@import 'normalize.css';

body {
  min-height: 100vh;
  font-family: 'Roboto Sans', monospace;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  &__content {
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    padding: 2em;
    background-color: #fff;
  }
}

.hidden {
  display: none;
}
